* {
	box-sizing: border-box;
} 

body {
    background-color: rgb(161, 161, 161);
}

main {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
}

.container {
    display: flex;
    flex-direction: column;
    text-align: center;
    font-family: "Gotham Rounded A", "Gotham Rounded B", "Gotham Rounded", "Helvetica Neue", sans-serif;
    margin: 0 auto;
    padding: 0 20px;
    height: 100vh;
}

h1 {
    margin: 40px auto 20px auto;
}

p {
    margin: 20px auto;
    width: 440px;
}

label {
    font-size: 20px;
    font-weight: bold;
    margin: 0 auto 20px auto;
}

h3 {
    margin: 0 auto;
}

h4 {
    margin: 20px auto 0 auto;
}

#result {
    margin: 16px auto;
    width: 440px;
    display: none;
    justify-content: center;
    font-size: 30px;
    flex-direction: column;
}

form {
    display: flex;
    flex-direction: column;
    width: 440px;
    margin: 0 auto;

}

input {
    padding: 7px;
    font-size: 17px;
    border-style: solid;
    border-width: 6px;
    border-radius: 10px;
    border-color: rgb(41, 119, 155);
    margin: 0 20px;
    padding: 17.5px 0;
    text-align: center;
    font-size: 30px;
}

button {
    margin: 20px 20px;
    padding: 10px;
    border-radius: 10px;
    border-style: solid;
    border-width: 6px;
    font-weight: bold;
    font-size: 30px;
    border-color: rgb(41, 119, 155);
}

@media (min-width: 700px) {
    main {
        background-color: rgb(10, 61, 85);
        justify-content: center;
    }

    .container {
        width: 650px;
        background-color: rgb(161, 161, 161);
        box-shadow: 0px 0px 5px 7px rgba(0,0,0,0.69);
    }

    label {
        margin: 20px auto;
    }

    input,
    button {
        border-color: grey;
    }

    form {
        padding: 5px;
        box-shadow: 7px 7px 5px 1px rgba(0,0,0,0.69);
        background-color: rgb(41, 119, 155);
        border-radius: 10px;
    }

    #result {
        box-shadow: 7px 7px 5px 1px rgba(0,0,0,0.69);
        background-color: rgb(41, 119, 155);
        border-radius: 10px;
    }
}